#!/usr/bin/python2

from pwn import *

{% if LIBC %}LIBC = ELF('{{LIBC}}'){% endif %}
context(arch='{{ARCH}}', os='{{OS}}', endian='{{ENDIAN}}', log_level='{{LOG_LEVEL}}')

{% if HEAP %}
def alloc(size, value):
    pass


def read(id):
    pass


def edit(id, nValue):
    pass


def free(id):
    pass
{% endif %}

def info(s):
    log.info(s)


def exploit(r):
    r.interactive()


if __name__ == '__main__':
{% if LOCAL %} {# Local Only #}
    r = process(['{{EXEC_FILE}}'])
    print(util.proc.pidof(r))
    pause()
    exploit(r)
{% elif REMOTE %} {# Remote Only #}
    HOST, PORT = "{{HOST}}", {{PORT}}
    r = remote(HOST, PORT)
    exploit(r)
{% else %} {# Local and Remote #}
    # Show Splash Screen
    splash()

    if len(sys.argv) > 1:
        HOST, PORT = "{{HOST}}", {{PORT}}
        r = remote(HOST, PORT)
    else:
        r = process(['{{EXEC_FILE}}'])
        print(util.proc.pidof(r))
        pause()

    exploit(r)
{% endif %}